* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #01b0a7;
  --seconder-text-color: #b34813;
}

/* header */
/* !to do : heder color */
.logo{
     width: 115px;
     height: 66px;
}
.head-top {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: black;
}
.head-text {
  display: flex;
  word-wrap: break-word;
  align-items: center;
  z-index: 2;
}
.right {
  color: white;
  font-size: 12px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 24px;
  padding-right: 20px;
  border-right: 1px solid wheat;
}
.left {
  color: var(--seconder-text-color);
  font-size: 12px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 24px;
  padding-left: 20px;
}
.head-img {
  height: 25px;
}
.ac {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}
.ac:hover {
  text-decoration: underline;
  color: var(--seconder-text-color);
}
.free-btn {
  width: 142px;
  height: 35px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: var(--primary-color);
  transition: background 0.3s ease-in-out;
}
.free-btn:hover {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--seconder-text-color);
}

.hero {
  background: radial-gradient(71.86% 71.86% at 35.93% 35.93%, rgba(0, 0, 0, 0.82) 0%, black 100%),
    url("./img/Image-1.jpg") center/cover;
  height: 780px;
  top: -170px;
  position: relative;
  opacity: 2;
}
.hero-text {
  position: absolute;
  top: 210px;
  left: 20%;
  text-align: center;
}
.hero-text h3 {
  color: var(--seconder-text-color);
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 32px;
  word-wrap: break-word;
}
.hero-text .big {
  color: white;
  font-size: 48px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 63.98px;
  word-wrap: break-word;
}
.small {
  color: white;
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.small span {
  color: #f15203;
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.buttons {
  color: white;
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 32px;
  word-wrap: break-word;
  position: absolute;
  background-color: teal;
  padding: 1px 5px;
  top: 60%;
  left: 39%;
}
/* next level */
.next{
     height: 900px;
     width: 1440px;
     margin: 140px auto;
     /* border: 2px solid red; */
}
.next-grid{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 10px;
}
.next-left{
     /* border: 2px solid red; */
     height: 800px;
}
.next-1st-img{
     width: 244px;
     height: 140px;
     margin-left: 165px;
}
.next-2nd-img{
     width: 540px;
     height: 375px;
     margin-left: 165px;
}
.next-text-left{
     width: 540px;
     height: 258px;
     background-color: #F8ECDE;
     margin-left: 165px;
}
.next-text-left h3{
     color: #2E2E2E;
     font-size: 24px;
     font-family: DM Sans;
     font-weight: 700;
     line-height: 32px;
     word-wrap: break-word;
     padding: 40px;
}
.next-text-left p{
     width: 462px;
     height: 72px;
     color: #606060;
     font-size: 14px;
     font-family: DM Sans;
     font-weight: 500;
     line-height: 24px;
     word-wrap: break-word;
     margin: 0px 38px 0 40px;
}
.next-left-btn{
     color: white;
     font-size: 14px;
     font-family: DM Sans;
     font-weight: 700;
     line-height: 24px;
     word-wrap: break-word;
     background-color: teal;
     width: 190px;
     height: 35px;
     margin-left: 40px;
     padding: 5px 15px ;
     margin-top: 5px;
}
.next-right{
     /* border: 2px solid red; */
     height: 800px;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-gap: 30px;
}
.chield{
     width: 255px;
     height: 218px;
     /* border: 2px solid gray; */
     margin: 0 auto;
     position: relative;
}
.chield img{
     width: 65px;
     height: 65px;
     margin: 0 auto;
}
.chield .box{
     justify-content: center;
     /* border: 2px solid pink; */
     position: absolute;
     top: 30px;
     left: 40px;
     padding: 5px;
}
.chield:first-child{
     background-color: #E6F7F6;
}
.chield .box img{
     margin-left: 40px;
}
.chield .box p{
     width: 149px;
     height: 48px;
     text-align: center;
     color: #2E2E2E;
     font-size: 18px;
     font-family: DM Sans;
     font-weight: 700;
     line-height: 24px;
     word-wrap: break-word;
     margin-top: 20px;
}
/* next level 2 */
.next-level2{
     background-color: #F8F8F8;
     width: 100%;
     /* border: 2px solid rgb(68, 255, 0); */
}
.level2-text{
     margin-left: 165px;
}
.soo{
     margin-top: 62px;
     width: 76px ;
     height: 32px;
     color: #01B0A7;
     font-family: DM Sans;
     font-size: 24px;
     font-weight: 700;
     line-height: 32px;
     word-wrap: break-word
}
.sooText{
     color: #2E2E2E;
     font-size: 32px;
     font-family: DM Sans;
     font-weight: 700;
     line-height: 48px;
}
.containers{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-row-gap: 10px;
     margin-left: 165px;
     margin-top: 60px;
}
 
.box{
     width: 255px;
}
.box1{
          background-color: #E6F7F6;
}
.sub-box{
     margin: 30px ;
     width: 195px;
}
.sub-box img{
     color: #01B0A7;
     font-size: 24px;
     font-family: DM Sans;
     font-weight: 700;
     line-height: 32px;
     word-wrap: break-word;
}
.sub-box h5{
     color: #01B0A7;
     font-size: 24px;
     font-family: DM Sans;
     font-weight: 700;
     line-height: 32px;
     margin-bottom: 20px;
}
.sub-box p{
     color: #606060;
     font-size: 16px;
     font-family: DM Sans;
     font-weight: 400;
     line-height: 27px;
     word-wrap: break-word;
     margin-top: 15px;
}
.level-text-2{
     /* width: 100%; */
     color: #01B0A7;
     font-size: 24px; 
     font-family: DM Sans; 
     font-weight: 700; 
     line-height: 32px;  
     margin-top: 82PX;
     margin-left: 165px;
}
.level-text-2p {
     /* border: 2px solid purple; */
     width: 1097px;
     margin-top: 60px ;
     margin-bottom: 140px;
     color: #606060;
     font-size: 16px;
     font-family: DM Sans;
     font-weight: 400;
     line-height: 27px;
     word-wrap: break-word;
}












/* media Query */
@media screen and (max-width: 987px) {
  .right {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding-right: 20px;
    border-right: 1px solid wheat;
  }
  .left {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: var(--seconder-text-color);
  }
  .navbar{
    z-index: 1;
    background-color: teal ;
  }
  .hero{
    margin-top: -100px;
  }
}
@media screen and (max-width: 767px) {
  .right {
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    padding-right: 18px;
    border-right: 1px solid wheat;
  }
  .left {
    color: var(--seconder-text-color);
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
  }
  .navbar {
    z-index: 1;
    background-color:transparent;
  }
  .hero {
    margin-top: 0px;
  }
}
@media screen and (max-width: 576px) {
  .head-top {
    display: none;
  }
  .navbar-brand{
      width: 70px;
  }

  .navbar {
    z-index: 1;
    background-color: teal;
  }
  .hero {
    margin-top: -100px;
  }
  .hero-text {
     position: absolute;
     top: 110px;
     left: 5%;
     text-align: center;
   }
  .hero-text h3 {
     color: var(--seconder-text-color);
     font-size: 20px;
     line-height: 32px;
   }
   .hero-text .big {
     color: white;
     font-size: 28px;
     line-height: 40px;
     word-wrap: break-word;
   }
   .buttons {
     top: 55%;
     left: 20%;
   }

   .next{
     margin: 40px auto;
   }
   .next-grid{
     grid-template-columns: repeat(1,400px);

   }
   .next-1st-img{
     margin-left: 10px;
   }
   .next-2nd-img{
     margin-left: 0px;
     width: 370px;
     height: 300px;
   }
   .next-text-left{
     margin-left: 0;
     width: 400px;
   }
   .next-text-left h3{
     padding: 10px 15px;
   }
   .next-text-left p{
     margin: 5px 0 0 40px;
     width: 350px;
   }
   /*  */
   .next-right{
     grid-template-columns: repeat(1,1fr);
   }
}
