*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
:root{
     --primary-color : #01B0A7;
     --seconder-text-color : #E26A2C;
}

/* header */
 header{
     background: #000;
 }
.head-top{
     padding: 0 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 40px;
     background-color: black;
}
.head-text{
     display: flex;
      word-wrap: break-word;
      align-items: center;
}
.right{
     color: white;
     font-size: 12px;
     font-family: DM Sans;
     font-weight: 700;
     line-height: 24px;
     padding-right: 20px;
     border-right: 1px solid wheat;
}
.left{
     color: var(--seconder-text-color);
     font-size: 12px;
     font-family: DM Sans;
     font-weight: 700;
     line-height: 24px;
     padding-left: 20px;
}
.head-img{
     height: 25px;
}
  .ac{
     color: #fff;
     font-size: 16px;
     font-weight: 700;
     line-height: 32px;   
}
.ac:hover{
     text-decoration: underline;
     color: var(--seconder-text-color);
}
.free-btn{
     width: 142px;
     height: 35px;
     color: #fff;
     font-size: 14px;
     font-weight: 700;
     border: none;
     background-color: var(--primary-color);
     transition: background 0.3s ease-in-out;
}
.free-btn:hover{
     border: 2px solid var(--primary-color );
     background-color: transparent;
     color: black;
}




/* media Query */
@media screen and (max-width:767px) {
     .right{
        
          font-size: 10px;
        
          font-weight: 600;
          line-height: 20px;
          padding-right: 18px;
          border-right: 1px solid wheat;
     }
     .left{
          color: var(--seconder-text-color);
          font-size: 10px;
          font-weight: 600;
          line-height: 18px;
     }
      
}
@media screen and (max-width:576px) {
     .head-top{
          display: none;
     }
}